################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AlexaBank
/AlexaBank.Domain/bin
/AlexaBank.Domain/obj
/Console.UI/bin
/Console.UI/obj/Debug/netcoreapp3.1
/Console.UI/obj/Release/netcoreapp3.1
/Console.UI/obj
